<div class="container-fluid">

  <!-- PO Selection -->
  <div class="row g-2 mb-2">
    <div class="col-2">
      <label>Purchase Order</label>
      <select class="form-select form-select-sm" (change)="onPOChange('1')">
        <option value="">-- Select PO --</option>
        <option *ngFor="let po of poList" [value]="po.poNumber">
          {{po.poNumber}} | {{po.whse}} | {{po.part}} | ORD:{{po.ordQty}}
        </option>
      </select>
    </div>
    <div class="col-2"><label>Warehouse</label>
      <input class="form-control form-control-sm" [value]="selectedPO?.whse" readonly />
    </div>
    <div class="col-2"><label>Part No</label>
      <input class="form-control form-control-sm" [value]="selectedPO?.part" readonly />
    </div>
    <div class="col-2"><label>Ordered Qty</label>
      <input class="form-control form-control-sm text-end" [value]="selectedPO?.ordQty" readonly />
    </div>
    <div class="col-2"><label>Received Qty</label>
      <input class="form-control form-control-sm text-end" value="0" readonly />
    </div>
    <div class="col-2"><label>Errors</label>
      <input class="form-control form-control-sm" [value]="errorCount" readonly />
    </div>
  </div>

  <!-- File Upload -->
  <div class="row g-2 mb-2">
    <div class="col-3">
      <label>Scan File</label>
      <input type="file" (change)="onScanFileSelected($event)" accept=".xlsx" />
      <button class="btn btn-primary btn-sm w-100 mt-1" (click)="importScanList()">Import Scan List</button>
    </div>
    <div class="col-3">
      <label>Packing Slip</label>
      <input type="file" (change)="onPackingSlipFileSelected($event)" accept=".xlsx" />
      <button class="btn btn-primary btn-sm w-100 mt-1" (click)="importPackingSlip()">Import Packing Slip</button>
    </div>
    <div class="col-3">
      <label>Mode</label><br />
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="mode" [(ngModel)]="modeReversal" [value]="false" /> Receipt
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="mode" [(ngModel)]="modeReversal" [value]="true" /> Reversal
      </div>
      <button class="btn btn-warning btn-sm mt-2" (click)="checkErrors()">Check Errors</button>
      <div *ngIf="errors.length > 0" class="alert alert-danger mt-1">
        <ul>
          <li *ngFor="let e of errors">{{e}}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Grids -->
  <div class="row g-2">
    <ng-container *ngFor="let grid of [{title:'Scan List', data:scanList},{title:'Packing Slip', data:packingSlip},{title:'Matches', data:matches},{title:'Scan-NoPackSlip', data:scanNoPack},{title:'PackSlip-NoScan', data:packNoScan},{title:'Onhand', data:onhand}]">
      <div class="col">
        <div class="border p-1">
          <div class="fw-bold text-center small mb-1">{{grid.title}}</div>
          <div style="height:240px; overflow:auto;">
            <table class="table table-sm table-bordered mb-0">
              <thead><tr><th>IMEI</th></tr></thead>
              <tbody>
                <tr *ngFor="let item of grid.data"><td>{{item.imei}}</td></tr>
              </tbody>
            </table>
          </div>
          <div class="small mt-1">
            Count: {{grid.data.length}}
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Bottom -->
  <div class="row g-2 mt-3">
    <div class="col-3">
      <label>Unit Cost</label>
      <input class="form-control form-control-sm" type="number" [(ngModel)]="unitCost" (input)="onUnitCostChange()" />
    </div>
    <div class="col-3">
      <label>HPC Cost</label>
      <input class="form-control form-control-sm" [value]="hpcCost" readonly />
    </div>
    <div class="col-3">
      <label>CMO Number</label>
      <input class="form-control form-control-sm" [(ngModel)]="cmoNumber" />
    </div>
    <div class="col-3">
      <button class="btn btn-success w-100" (click)="postReceipts()">Post Receipts</button>
    </div>
  </div>

</div>
